#static-splash {
  img#dynamic-background {
    position: absolute;
    width: 100%;
    min-height: 1170px;
    min-width: 960px;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #main {
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 1170px;
    position: relative;
    
    header {
      width: 100%;
      height: 200px;
      
      div#first-bar {
        width: 100%;
        height: 105px;
        background: url(../../img/controllers/static/dark-splash/top-first.png);
        
        div#logo {
          width: 206px;
          height: 94px;
          background: url(../../img/controllers/static/dark-splash/logo.png);
          position: absolute;
          left: 50%;
          top: 5px;
          margin-left: -206px;
        }
        
        div#get-the-app {
          cursor: pointer;
          width: 193px;
          height: 68px;
          background: url(../../img/controllers/static/dark-splash/get-the-app.png);
          position: absolute;
          top: 18px;
          left: 50%;
        }
        
        div#popup {
          display: none;
          width: 366px;
          height: 347px;
          left: 50%;
          top: 85px;
          margin-left: #{(-183 + 103)}px;
          position: absolute;
          background: url(../../img/controllers/static/dark-splash/popup.png);
          z-index: -1;
          
          div#close-popup {
            position: absolute;
            width: 30px;
            top: 60px;
            right: 30px;
            font-weight: bold;
            font-size: 20px;
            color: bot workinglack;
            cursor: pointer;
            
            &:hover {
              color: white;
            }
          }
          
          div.input-container {
            float: left;
            margin-top: 170px;
            margin-left: 43px;
            width: 280px;
            
            input {
              width: 260px;
            }
          }
          
          .error {
            position: absolute;
            top: 110px;
            left: 50%;
            margin-left: -141px;
            font-weigt: normal;
            background: #2B3856;
            width: 282px;
          }
          
          .submit-button {
            float: left;
            margin-top: 20px;
            margin-left: 43px;
            width: 282px;
          }
        }
      }
      
      div#second-bar {
        width: 100%;
        height: 88px;
        background: url(../../img/controllers/static/dark-splash/top-second.png);
        position: relative;
        
        img {
          display:none;
          margin: auto;
          width: 859px;
          margin-left: -430px;
          position: absolute;
          left: 50%;
          bottom: 10px;
        }
      }
    }
    
    div.mid-container {
      height: 685px;
    
      #iphone {
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 38px;
        margin-left: -195px;
        height: 747px;
        width: 391px;
        background: url(../../img/controllers/static/dark-splash/iPhone.png);
      }
      
      div#parabolasel-container {
        position: absolute;
        top: 0;
        left: 2px;
        margin-top: -100px;
        width: 100%;
        height: 750px;
        overflow: visible;
        z-index:1000;
      
        div#iphone-black-bg {
          position: absolute;
          top: 265px;
          left: 50%;
          margin-left: -160px;
          height: 485px;
          width: 320px;
          background-color: black;
          z-index: 999;
        }
        img.parabolasel {
          position: absolute;
          bottom: 0;
          left: 0;
          display: none;
          width: 322px;
          height: 484px;
        }
      }
    }
    
    footer {
      height: 190px;
      
      div#first-bar {
        z-index: 10000;
        position: absolute;
        background: url(../../img/controllers/static/dark-splash/bot-first.png);
        height: 100px;
        width: 100%;
        bottom: 90px;
        left: 0;
        @include single-box-shadow();
        
        div#first-bar-content {
          position: relative;
          height: 100%;
          width: 100%;
          
          div#project-lifelog-badge {
            width: 450px;
            height: 70px;
            background: url(../../img/controllers/static/dark-splash/project-lifelog.png);
            position: absolute;
            right: 20px;
            top: 20px;
          }
        }
      }
      
      div#second-bar {
        z-index: 10000;
        height: 90px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        background: url(../../img/controllers/static/dark-splash/bot-second.png);
        div.mid-container {
          height: 90px;
          position: relative;
          
          @for $i from 1 through 4 {
            img#footer-link-#{$i} {
              position: absolute;
              left: #{100 + (($i - 1)* 760 / 3)}px;
              bottom: 32px;
            }
          }
        }
      }
    }
  }
}