<div id="static-splash">
	<img id="dynamic-background" src="img/controllers/static/dark-splash/bg.png" />
	<div id="main">
	  <header>
      <div id="first-bar" class="relative">
	      <div id="logo"></div>
		    <div id="get-the-app"></div>
        <div id="popup">
	        <div class="absolute-filler">
	          <div id="close-popup">X</div>
	          <form>
		          <div class="input-container">
		            <input id="email-input" placeholder="Email" type="text" />
		          </div>
	            <button id="request-invite" class="form-element submit-button">
	             Request Invite
	            </button>
            </form>
          </div>
        </div>
      </div>
		  <div id="second-bar">
		    <img class="para-label-0" src="img/controllers/static/dark-splash/lyfeis1.png" />
        <img class="para-label-1" src="img/controllers/static/dark-splash/lyfeis2.png" />
        <img class="para-label-2" src="img/controllers/static/dark-splash/lyfeis3.png" />
        <img class="para-label-3" src="img/controllers/static/dark-splash/lyfeis4.png" />
        <img class="para-label-4" src="img/controllers/static/dark-splash/lyfeis5.png" />
        <img class="para-label-5" src="img/controllers/static/dark-splash/lyfeis6.png" />
        <img class="para-label-6" src="img/controllers/static/dark-splash/lyfeis7.png" />
		  </div>
	  </header>
	  <div class="mid-container relative">
		  <div id="iphone">
		  </div>
		  <div id="parabolasel-container">
		    <div id="iphone-black-bg"></div>
		    <img data-order="0" src="img/controllers/static/dark-splash/lyfeImage1.png" class="parabolasel para-item-0">
		    <img data-order="1" src="img/controllers/static/dark-splash/lyfeImage2.png" class="parabolasel para-item-1">
		    <img data-order="2" src="img/controllers/static/dark-splash/lyfeImage3.png" class="parabolasel para-item-2">
		    <img data-order="3" src="img/controllers/static/dark-splash/lyfeImage4.png" class="parabolasel para-item-3">
		    <img data-order="4" src="img/controllers/static/dark-splash/lyfeImage5.png" class="parabolasel para-item-4">
		    <img data-order="5" src="img/controllers/static/dark-splash/lyfeImage6.png" class="parabolasel para-item-5">
		    <img data-order="6" src="img/controllers/static/dark-splash/lyfeImage7.png" class="parabolasel para-item-6">
		  </div>
    </div>
		  
	  <footer>
	    <div id="first-bar">
	      <div id="first-bar-content">
	        <a href="http://www.kickstarter.com/projects/lifelog/lifelog-remember-life" class="not-route" target=_blank">
	          <div id="project-lifelog-badge"></div>
          </a>
	      </div>
	    </div>
	    <div id="second-bar">
	      <div class="mid-container">
	        <a href="about">
			      <img style="margin-left:-61px;" id="footer-link-1" src="img/controllers/static/dark-splash/footer-about.png" />
			    </a>
			    <a href="contact">
			      <img style="margin-left:-83px;" id="footer-link-2" src="img/controllers/static/dark-splash/footer-contact.png" />
		      </a>
		      <a href="careers">
			      <img style="margin-left:-83px;" id="footer-link-3" src="img/controllers/static/dark-splash/footer-careers.png" />
			    </a>
			    <a href="privacy">
			      <img style="margin-left:-84px;bottom:23px;" id="footer-link-4" src="img/controllers/static/dark-splash/footer-privacy.png" />
			    </a>
	      </div>
	    </div>
	  </footer>
	</div>
</div>