$page-width: 960;
$page-width-pixels: 960px;

@import "compass";
@import "libs/normalize.css";

a:hover {
  text-decoration: none;
}
  
.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clear {
  clear: both !important;
}

.absolute-filler {
  position: relative;
  height: 100%;
  width: 100%;
}

.input-container {
  @include border-radius(5px);
  @include single-box-shadow(#A0A0A0,0,1px,3px,0,true);
  border: 1px solid #444;
  background: white;
  width: 200px;
  height: 40px;
  
  input[type=text] {
    background: 0;
    border: 0;
    width: 180px;
    padding: 12px 10px 8px;
    font-weight: bold;
    
    &:active, &:focus {
      outline: 0;
      outline-style: none;
      outline-width: 0;
      -moz-outline-width: 0;
    }
  }
}

.form-element {
  height: 40px;
  font-weight: bold;
  color: white;
  @include border-radius(5px);
  @include single-box-shadow(#A0A0A0,0,1px,3px,0,true);
  border: 1px solid #444;
  text-align: center;
  line-height: 40px;
  @include single-text-shadow(0, -1px, 0, false, #A0A0A0);
  @include background-image(linear-gradient(#6AA5CF,#5791BB));
}

body {
  width: 100%;
  min-width: 960px;
  $page-width: 960;
  $column-count: 12;
  font-family: helvetica,arial;
  .mid-container {
    width: #{$page-width}px;
    margin: auto;
  }
  .col-set {
    float: left;
    width: #{$page-width}px;
    clear: both;

    @for $i from 1 through 12 { 
      .col-#{$i} {
        float: left;
        width: #{$i * $page-width / $column-count}px;
      }
    }
  }
}

@import "static/splash";
@import "static/main";
@import "libs/jquery.jgrowl.css";
@import "libs/bootstrap.css";