<header id="top-fixed-navbar">
  <div class="mid-container">
    <a href="">
      <div id="lyfe-logo"></div>
     </a>
  </div>
</header>
<div id="beneath-navbar" class="mid-container">
  <div class="col-set"> 
    <div class="col-3">
      <nav id="sidebar">
        <div id="top-border"></div>
        <a id="about" href="about">
          <span class="text">About Lyfe</span>
        </a>
        <a id="team" href="team">
          <span class="text">LyfeTeam</span>
        </a>
        <a id="contact" href="contact">
          <span class="text">Contact Lyfe</span>
        </a>
        <a id="resources" href="resources">
          <span class="text">Resources</span>
        </a>
        <a id="jobs" href="jobs">
          <span class="text">Jobs</span>
        </a>
        <div id="bot-border"></div>
      </nav>
    </div>
    <div class="col-9">
      <div id="main">
      </div>
    </div>
  </div>
  <footer>
    <span class="copyright">&copy;2012 Lyfe</span>
    <a href="about">About</a>
    <a href="lyfeblog">LyfeBlog</a>
    <a href="jobs">Jobs</a>
    <a href="privacy">Privacy</a>
  </footer>
</div>
